/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}